@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.leftcolumn {
    float: left;
    width: 70%;
}

.rightcolumn {
    float: left;
    width: 30%;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
    }
}

textarea {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    outline: none;
    transition: 0.5s;
}


.content {
    
    margin-top: 20px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
}
.post {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
}

.post {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 20px;
}

.user {
    font-weight: bold;
}

.user-level {
    margin-left: 5px;
    margin-bottom: 8px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span {
    font-weight: bolder;
    color: #ffc107;
}

.avg_rating span {
    color: #ffc107;
    font-weight: bold;
}

.rating a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}

.comment {
    border: 1px solid #c3c3c3;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-box {
    position: relative;
    border: 3px solid #8bdcfe;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.comment-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-upload {
    cursor: pointer;
}

.emoji-picker {
    background: none;
    border: none;
    cursor: pointer;
}

.fa-image::before,
.fa-paper-plane {
    font-size: 20px;
    color: #555;
}

.image-preview {
    margin-top: 10px;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview div {
    position: relative;
    display: inline-block;
}

.image-preview img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

.remove-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
}

.comment-images {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.post-images {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.comment-images a,
.post-images a,
.more-images {
    text-align: center;
    overflow: hidden;
    
}

.comment-images img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}
.post-images img {
    
    min-width: 233px;
    max-width: 700px;
    min-height: 233px;
    max-height: 400px;
    object-fit: cover;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.more-images {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 4px;
}
.more-image-post {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    text-align: center;
    width: 233px;
    height: 400px;
    border-radius: 4px;
}

.post-header,
.comment-header,
.reply-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content,
.comment-content {
    margin: 10px 0;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 8px;
}

.post-footer,
.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.rating span.selected,
.rating span:hover,
.rating span.hover {
    color: #ffc107;
}

.comment-button,
.reply-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.comments {
    margin-top: 20px;
}

.reply-form {
    display: none;
    margin-top: 10px;
}
.comment-form {
    display: none;
    margin-top: 10px;
}
.comment{
    margin-top: 10px;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 8px;
    margin-left: 20px;

}
.reply-comment {
    margin-top: 10px;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 8px;
    margin-left: 50px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(124, 122, 122);
}

/* Popup Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.close,
.prev,
.next {
    position: absolute;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1060;
}

.close {
    top: 20px;
    right: 20px;
}

.prev,
.next {
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    font-size: 20px;
    user-select: none;
}

.close:hover,
.close:focus,
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #bbb;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
.delete-button {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background: none;
    font: inherit;
    outline: inherit;
}

.delete-button:hover {
    text-decoration: underline;
}

.sort-comments {
    border-color: rgb(196, 196, 196);
    padding: 5px;
    border-radius: 4px;
    box-shadow: #555;
}
